[user]
	name = Chris Geihsler
	email = chris@geihsler.net
[github]
	user = geihsler
	token = <blargh>
[color]
	status = auto
	branch = auto

[merge]
	tool = diffmerge

[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=\"$MERGED\"\n  \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = false

[diff]
	tool = diffmerge

[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
