!.emacs.d/
!.tmuxinator/

Music
Documents
Downloads
Movies
Pictures
Public
Library
Desktop

.vim/bundle
.vim/.netrwhist
.rvm
.ssh

.CFUserTextEncoding
.Trash
.DS_Store
.bash_history
.cache
.gem
.vim_mru_files
.viminfo
.hostname

vendor/bundle
.DS_Store

*

