[user]
	name = Chris Geihsler
  email = chris@geihsler.net

[github]
	user = seejee
  token = f1f78ac10a339bcd92597374bc7102cf

[color]
	status = auto
  branch = auto
  diff   = auto

[merge]
	tool = /usr/bin/vi

[diff]
	color = true
  tool = vi

[core]
	excludesfile = /Users/seejee/.gitignore
